<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ADD SHOW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form action="/admin/addmovie" method="POST">
        <br>MOVIE NAME:
        <input type="text" name="mname">
        <br>LANGUAGE:
        <input type="text" name="lang">
        <br>DIRECTOR:
        <input type="text" name="dname">
        <br>STARING:
        <input type="text" name="staring">
        <br>SEATS:
        <input type="number" name="seats">
        <br>RESERVED:
        <input type="number" name="reserved">
        <br>RATE:
        <input type="number" name="rate">
        <!-- <br>DATE:
        <input type="date" name="rate"> -->
        <br>TIMING:
        <input type="text" name="timing">
        <input type="submit" value="ADD">
        </form>
</body>
</html>