<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>delete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form action="/user/deleteshow" method="POST">
    CHOOSE MOVIE NAME:
    <select name="mname">
        <%for(var i=0;i<data.length;i++){%>
            <option value=<%=data[i].mname%>>
                <%=data[i].mname%>
            </option>
        <%}%>
    </select><br>
    <input type="submit" value="DELETE">
    </form>
</body>
</html>